%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%%
%% IETF RFC-3962 AES Encryption for Kerberos 5.
%% Copyright (c) 2005 The Internet Society.
%% Refer to https://tools.ietf.org/html/rfc3962 for legal provisions.
%%

%% {digest, password, salt, iterations, derived_key_length, derived_key}
{'rfc3962', [
    % Set 1
    {sha, <<"password">>, <<"ATHENA.MIT.EDUraeburn">>, 1,
        16, <<16#cdedb5281bb2f801565a1122b2563515:128>>},
    % Set 2
    {sha, <<"password">>, <<"ATHENA.MIT.EDUraeburn">>, 1,
        32, <<16#cdedb5281bb2f801565a1122b25635150ad1f7a04bb9f3a333ecc0e2e1f70837:256>>},
    % Set 3
    {sha, <<"password">>, <<"ATHENA.MIT.EDUraeburn">>, 2,
        16, <<16#01dbee7f4a9e243e988b62c73cda935d:128>>},
    % Set 4
    {sha, <<"password">>, <<"ATHENA.MIT.EDUraeburn">>, 2,
        32, <<16#01dbee7f4a9e243e988b62c73cda935da05378b93244ec8f48a99e61ad799d86:256>>},
    % Set 5
    {sha, <<"password">>, <<"ATHENA.MIT.EDUraeburn">>, 1200,
        16, <<16#5c08eb61fdf71e4e4ec3cf6ba1f5512b:128>>},
    % Set 6
    {sha, <<"password">>, <<"ATHENA.MIT.EDUraeburn">>, 1200,
        32, <<16#5c08eb61fdf71e4e4ec3cf6ba1f5512ba7e52ddbc5e5142f708a31e2e62b1e13:256>>},
    % Set 7
    {sha, <<"password">>, <<16#1234567878563412:64>>, 5,
        16, <<16#d1daa78615f287e6a1c8b120d7062a49:128>>},
    % Set 8
    {sha, <<"password">>, <<16#1234567878563412:64>>, 5,
        32, <<16#d1daa78615f287e6a1c8b120d7062a493f98d203e6be49a6adf4fa574b6e64ee:256>>},
    % Set 9
    {sha, <<"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">>,
        <<"pass phrase equals block size">>, 1200,
        16, <<16#139c30c0966bc32ba55fdbf212530ac9:128>>},
    % Set 10
    {sha, <<"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">>,
        <<"pass phrase equals block size">>, 1200,
        32, <<16#139c30c0966bc32ba55fdbf212530ac9c5ec59f1a452f5cc9ad940fea0598ed1:256>>},
    % Set 11
    {sha, <<"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">>,
        <<"pass phrase exceeds block size">>, 1200,
        16, <<16#9ccad6d468770cd51b10e6a68721be61:128>>},
    % Set 12
    {sha, <<"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX">>,
        <<"pass phrase exceeds block size">>, 1200,
        32, <<16#9ccad6d468770cd51b10e6a68721be611a8b4d282601db3b36be9246915ec82a:256>>}
]}.
