%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%%
%% IETF RFC-6070 PBKDF2 Test Vectors.
%% Copyright (c) 2011 IETF Trust and Simon Josefsson.
%% Refer to https://tools.ietf.org/html/rfc6070 for legal provisions.
%%

%% {digest, password, salt, iterations, derived_key_length, derived_key}
{'rfc6070', [
    % Set 1
    {sha, <<"password">>, <<"salt">>, 1,
        20, <<16#0c60c80f961f0e71f3a9b524af6012062fe037a6:160>>},
    % Set 2
    {sha, <<"password">>, <<"salt">>, 2,
        20, <<16#ea6c014dc72d6f8ccd1ed92ace1d41f0d8de8957:160>>},
    % Set 3
    {sha, <<"password">>, <<"salt">>, 4096,
        20, <<16#4b007901b765489abead49d926f721d065a429c1:160>>},
    % Set 4
    {sha, <<"password">>, <<"salt">>, 16777216,
        20, <<16#eefe3d61cd4da4e4e9945b3d6ba2158c2634e984:160>>},
    % Set 5
    {sha, <<"passwordPASSWORDpassword">>, <<"saltSALTsaltSALTsaltSALTsaltSALTsalt">>,
        4096, 25, <<16#3d2eec4fe41c849b80c8d83662c0e44a8b291a964cf2f07038:200>>},
    % Set 6
    {sha, <<"pass\0word">>, <<"sa\0lt">>, 4096, 16,
        <<16#56fa6aa75548099dcc37d7f03425e0c3:128>>}
]}.
