%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang noet

{cover_enabled, true}.

{plugins, [{rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.
